
/******** Global styles ********/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f8f5f1;
    color: #e4d3cf;
    font-family: monospace;
    line-height: 1.5;
}

h1{
    padding-bottom: 10px;
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2;
}

p {
    font-size: 0.9rem;
    font-weight:normal;
    line-height: 1.5;
    padding: 1rem auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    margin-top: 50px;
}

aside {
    border-radius: 5px;
    margin: 20px;
    background: #e4d3cf;
    align-self: flex-start;
    position: relative;
}

header {
    text-align: center;
}

label {
    margin-bottom: 10px;
    color: #301b3f;
}

input{
    border: none;
    border-bottom: 2px solid #301b3f;
    background: #e4d3cf;
    outline: none;
    padding: 5px;
    color: #301b3f;
    font-size: 0.8rem;
    transition: 0.7s ease-in-out;
}

input:focus{
    border-bottom: 3px solid;
}

select {
    outline: none;
    border: none;
    border-bottom: 2px solid #301b3f;
    background: inherit;
    color: #301b3f;
    padding-bottom: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}


option{
    color: #e4d3cf;
    background: #301b3f;
}

button{
    margin: 20px auto auto;
    padding: 10px 20px;
    color: inherit;
    background: #693c72;
    outline: none;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

form{
    text-align: left;
}

.submit-button input{
    border: none;
    background: #301b3f;
    padding: 10px;
    color: inherit;
    margin-top: 20px;
    cursor: pointer;
}
.main-container {
    max-width: 960px;
    width: 100%;
    margin: 20px auto;
    background: #301b3f;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
}


.book-display {
    
    grid-column: span 2;
    align-self: auto;
    margin: auto 20px;
}

.book-display-heading{
    text-align: center;
    font-weight: 900;
    font-family: inherit;
    font-size: 1.7rem;
    padding-top: 0;
}


.book-display-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    background: #e4d3cf;
    min-height: 400px;
    height: 100%;
    grid-gap: 20px;
    padding: 30px;
    border-radius: 10px;
}

.author,
.title,
.total-pages,
.read-status,
.submit-button{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 30px;
    outline: none;
    font-size: 1rem;
}

.author:focus,
.title:focus,
.total-pages:focus,
.read-status:focus {
    outline: none;
    color: transparent;
}


.book-card {
    background: rgba(37, 14, 53, 0.9);
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 10px;
    margin: 20px auto;
    height: 100%;
}

.book-card p{
    font-size: 1rem;
    padding: 2rem auto;
}





/* media query */
@media(max-width: 870px){
    main{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:400px){
    .book-display-grid{
        grid-template-columns: 1fr;
        width: 100%;
    }
}